<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="UTF-8" />
    <title>Ecommerce</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/static/src-bundle.js"></script>
    <!-- Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
      (function () {
        window.__insp = window.__insp || [];
        __insp.push(["wid", 86376192]);
        var ldinsp = function () {
          if (typeof window.__inspld != "undefined") return;
          window.__inspld = 1;
          var insp = document.createElement("script");
          insp.type = "text/javascript";
          insp.async = true;
          insp.id = "inspsync";
          insp.src =
            ("https:" == document.location.protocol ? "https" : "http") +
            "://cdn.inspectlet.com/inspectlet.js?wid=86376192&r=" +
            Math.floor(new Date().getTime() / 3600000);
          var x = document.getElementsByTagName("script")[0];
          x.parentNode.insertBefore(insp, x);
        };
        setTimeout(ldinsp, 0);
      })();
    </script>
    <!-- End Inspectlet Asynchronous Code -->
  </body>
</html>
